.customer:not(.account):not(.order)
  max-width 500px

  .wrap-form
    text-align left

    .cta
      margin-top 1em


.customer.login
  .recover-password
    text-align center
    margin 0 auto 2em

.customer.register
  .have-account
    text-align center
