.bg-image-text__headline
  +mq(768)
    margin-bottom 3em

.bg-image-text__img
  img
    border-radius 8px


.bg-image-text__content
  margin-bottom 3em

  +mq(768)
    margin-bottom 0

  .title--hero-light
    strong,
    b
      font-weight 600

  .text
    margin-bottom 1em
    color #6f6f6f

.bg-image-text__content--padding
  +mq(1200)
    padding 0 8.3333%