.callout
  padding 20px 32px

  +mq(768)
    padding 40px 56px

.callout--yellow
  background-color $yellow

  .callout__text
    color $black


.callout--black
  background-color $black

  .callout__text
    color $white

.callout__text
  margin-bottom 0

  .title
    margin-bottom 1.5rem


.callout__img
  display none
  text-align left

  +mq(768)
    display block
    text-align right

  img
    display inline-block
    width 100%
    max-width 250px
