.carousel-images-text
  color $white
  background-color $gold
  overflow hidden

.carousel-images-text__content-title
  text-align center

.carousel-images-text__content-text
  text-align center
  margin 0 auto
  width 90%
  max-width 530px

  +mq(1200)
    max-width 630px

  .text
    font-size 14px
    +mq(768)
      font-size 16px
    +mq(992)
      font-size 18px


.carousel-images-text-slider
  margin-bottom 10px
  width 100%

  .swiper-wrapper
    align-items center
    padding 50px 0 150px

  .swiper-slide
    position relative
    width 190px
    margin 0 5vw
    border-radius 8px
    transform translateY(90px) !important
    transition all .3s ease-in-out
    transition-delay 0.1s
    aspect-ratio 94/163

    +mq(600)
      width 390px
      aspect-ratio 13/16

    .carousel-images-text__images
      position relative
      width 100%
      height 100%

      img
        border-radius 8px
        width 100%
        height 100%
        centerAbs()
        fit()


  .swiper-slide-active
    transform translateY(0) !important
    transform-origin center
