.collection-list__headline
  margin-bottom 72px
  text-align center


.collection-list__slider
  .swiper-wrapper
    padding-bottom 15%

  .swiper-slide
    margin 0 4%

    +mq(768)
      margin 0 2.5%

    &:nth-child(odd)
      min-width 280px
      width 22%
      transform translateY(20%)

    &:nth-child(even)
      width 90%
      max-width 550px

  .collection-list__slider__arrows
    display flex
    justify-content flex-end

    .swiper-button
      &-disabled
        opacity 0.3


.collection-list__card
  .title
    margin-bottom 1em

  .card__img
    margin-bottom 1em

    img,
    svg
      display block
      width 100%
      border-radius 8px

  .card__footer
    display flex
    justify-content space-between
