.contact-form__text
  margin-bottom 60px
  text-align center

  +mq(768)
    text-align left
  +mq(992)
    margin-bottom 0

  .text
    color $gray2
    max-width 500px
    margin 0 auto

    +mq(768)
      margin 0
