.feat-image-text__text
  margin-bottom 2em

  +mq(992)
    margin-bottom 0


.feat-image-text--yellow
  background-color $yellow

  .feat-image-text__text
    .title--deco
      p:before
        color $white

.feat-image-text--black
  background-color $black
  color $white

  .feat-image-text__text
    .title--deco
      p:before
        color $yellow