.wrap-features--yellow
  background-color $yellow

.wrap-features--black
  background-color $black

  .wrap-features__headline
    color $yellow

  .single-feature
    color $white


.wrap-features__headline
  text-align center
  margin-bottom 4.5em


.single-feature
  margin-bottom 40px
  padding 0 16px

  +mq(992)
    padding 0 32px
    margin-bottom 0


.single-feature__img
  position relative
  width 70%
  margin 0 auto 32px
  border-radius 50%
  overflow hidden
  aspect-ratio 1 / 1

  +mq(768)
    width 75%

  img
    fullAbs()


.single-feature__content
  text-align center


.wrap-features__cta
  text-align center
  padding-top 40px

  a
    display inline-block
    color $yellow
    text-decoration underline
    font-weight 500
