header
  padding 30px 0
  position relative
  top 0
  left 0
  width 100%
  z-index 2

  >.container
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap


.header__space
  position relative
  display block
  height var(--header-height)
  content ''


.header--fixed
  position fixed
  z-index 10
  background-color white


.header__mobile-toggle
  display flex
  gap 0 12px
  width 80px

  +mq(992)
    display none

  .modal__toggle-open
    transform translateY(3px)

.header__hamburger
  position relative
  display block
  width 25px
  height @width
  border 0
  background none
  cursor pointer

  +mq(992)
    display none

  .header__hamburger__inner
    div,
    &::before,
    &::after
      position absolute
      left 0
      width 100%
      height 3px
      border-radius 3px
      background-color $black

    &::before,
    &::after
      display block
      content ''
      transition-duration 0.2s
      transition-property rotate, top, bottom
      transform-origin center

    div
      top calc(50% - 2px)

    &::before
      top 3px

    &::after
      bottom 3px


.header__hamburger--active
  .header__hamburger__inner
    div,
    &::before,
    &::after
      position absolute
      left 0
      width 100%
      height 3px
      border-radius 3px
      background-color $black

    &::before,
    &::after
      top 50%
    div
      opacity 0

    &::before
      rotate 45deg

    &::after
      rotate -45deg


.header__locale
  width 120px
  display none
  gap 0 4px
  align-items center

  +mq(992)
    display flex

  .bull
    font-size 10px

  .locale__link
    color $black
    text-transform uppercase
    font('headline')

  .locale__link--active
    font-weight 500


.header__locale--mobile
  +mq(992)
    display none



.header__logo
  .logo
    display none
    width 145px

    +mq(992)
      display block

  .logo--mobile
    display block
    width 25px

    +mq(992)
      display none


.header__icons
  display flex
  align-items center
  flex-direction row-reverse
  justify-content flex-start
  width 80px
  gap 0 16px

  +mq(992)
    width 120px
    flex-direction row
    justify-content flex-end

  .header__icon
    position relative
    svg
      path
        fill $black

  .cart-count-bubble
    position absolute
    top 0
    right 0
    width 17px
    background-color $black
    border-radius 50%
    color $white
    aspect-ratio 1 / 1
    transform translate(50%, -50%)

    &.hidden
      opacity 0

    span
      font-size 12px
      centerAbs()
      top 48%


  .header__search
    display none

    +mq(992)
      display block


.header__search
  .modal__toggle-open
    width 20px
    height 20px
    color $black

  summary
    &::marker
      content ''


.header__nav
  display none
  margin-top 36px
  margin-left auto
  flex 1 1 100%

  +mq(992)
    display block
    text-align center

  ul
    padding-left 0
    list-style none

  li
    display inline-block
    padding 0
    margin 0 12px

    &:hover
      +mq(992)
        svg
          rotate 180deg

        .submenu
          display block

  .submenu
    display none
    position relative
    width 100%
    padding 0
    background-color $white

    +mq(992)
      position absolute
      top 100%
      left 0
      text-align center
      padding 16px 0
      box-shadow 0px 7px 10px -10px $black

    &.active
      display block

    li
      display table
      width auto
      margin 0


  .menu__link
    display flex
    color $black2
    text-decoration none
    padding 10px 12px
    border-radius 8px
    font('headline')

    &:hover
      background-color $white2

    svg
      display inline-block
      width 28px
      height @width
      fill $black2
      translate 0 3px

      +mq(992)
        width 18px
        height @width
        margin-left 10px
        translate 0 1px


  .menu__link--active
    font-weight 500

  .header__locale
    display flex

    +mq(992)
      display none


.header__nav--active
  position fixed
  top var(--header-height)
  left 0
  width 100%
  height calc(100lvh - var(--header-height))
  padding 32px 0
  display flex
  justify-content flex-start
  flex-direction column
  background-color white
  margin-top 0
  border-top 1px solid $gray3

  li
    display block
    margin 0 16px
    padding 0

  .menu__link
    display block
    margin-bottom 1em
    font-size clamp(16px, 6vw, 24px)

  .submenu
    .menu__link
      font-size clamp(14px, 5vw, 20px)

  .header__locale
    margin-top auto
    padding-left 16px


// Cart Drawer
header
  .backdrop
    content ''
    display block
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 3
    background-color rgba($black, 0.75)

.cart-drawer
  position fixed
  right 2lvh
  top 2lvh
  width 95%
  height 96lvh
  padding 32px 0 0
  max-width 500px
  border-radius 4px
  z-index 10
  background white
  box-shadow -15px 0 11px -10px rgba($black, 0.25)
  overflow auto
  transform translateX(32px)
  opacity 0
  pointer-events none
  transition-property transform, opacity
  transition-duration 0.3s
  transition-timing-function ease-out

  &.active
    pointer-events all
    opacity 1
    transform translateX(0)

  .loader
    background-color rgba($white, 0.85)
    z-index 2
    fullAbs()

    .spinner
      width 120px
      height @width
      stroke $black
      centerAbs()

.cart-drawer__close
  position absolute
  right 16px
  top 16px