.hero__slider
  .swiper-slide:not(.swiper-slide-active)
    .hero__slider__arrows
      opacity 0
      visibility hidden

  .slide__text
    text-align center

  .slide__content
    position relative
    overflow hidden
    padding 16px
    border-radius 8px
    aspect-ratio 1.5 / 1

    +mq(768)
      aspect-ratio 2.75 / 1
      padding 32px

    .placeholder
      background-color $gray2
      fullAbs()

      .content
        max-width 200px
        text-align center
        color $white
        centerAbs()

      svg
        display inline-block
        width 100px

        path
          fill rgba($white, 0.5)

    img
    video
      fullAbs()
      fit()

    .cta
      position absolute
      bottom 16px
      left 16px
      right 16px

      +mq(450)
        right auto
      +mq(768)
        bottom 32px
        left 32px


.hero__slider__arrows
  position absolute
  width 100%
  left 0
  top 0
  padding 16px
  display flex
  justify-content flex-end
  gap 0 8px
  pointer-events none
  z-index 1

  +mq(768)
    top auto
    bottom 0
    padding 32px

  .swiper-button
    background-color $white
    display flex
    justify-content center
    align-items center
    cursor pointer
    border-radius 4px
    pointer-events all
    transition background 0.2s ease-in

    &:hover
      background-color $black2

      svg
        path
          stroke $gold

    svg
      path
        stroke $black
        transition stroke 0.2s ease-in

  .swiper-button-lock
    display none
