.home-collection-list__headline
  margin-bottom 72px
  text-align center


.home-collection-list__slider
  .swiper-wrapper
    padding-bottom 15%
    +mq(1400)
      padding-bottom 10%

  .swiper-slide
    margin 0 4%

    +mq(768)
      margin 0 2.5%

    &:nth-child(odd)
      min-width 280px
      width 22% !important

    &:nth-child(even)
      width 90% !important
      max-width 800px

    &:nth-child(3n + 1)
      transform translateY(20%)

      .collection-list__card
        .card__img
          aspect-ratio 1 / 1.5


    &:nth-child(3n + 2)
      .collection-list__card
        .card__img
          aspect-ratio 1.3 / 1


    &:nth-child(3n + 3)
      transform translateY(50%)

      .collection-list__card
        .card__img
          aspect-ratio 1 / 1


  .home-collection-list__slider__arrows
    display flex
    justify-content flex-end

    .swiper-button
      cursor pointer

      &-disabled
        opacity 0.3
