.block-images__single-img--main
  margin-bottom 2em

  +mq(992)
    margin-bottom 0

.block-images__single-img--video
  position relative
  aspect-ratio 16 / 9

  iframe,
  video,
  img
    fullAbs()
    fit()