.image-text__img
  width 90%
  margin-bottom 3em

  +mq(768)
    width 86%
    margin-bottom 0

  img
    border-radius 8px

  .img--small
    position absolute
    top 10%
    right 10px
    width 30%
    max-width 240px

  .img--small--bottom
    top auto
    bottom 10%


.image-text__content
  &.left
    +mq(992)
      padding-left 15%

  &.right
    +mq(992)
      padding-right 15%

  .title
    clear both

  .title--hero-light
    b,
    strong
      font-weight 600

  .text
    margin-bottom 1em
    color #6f6f6f


.image-text--space
  .image-text__img
    width 95%
    margin-bottom 0

  .image-text__content
    .img--small
      float right
      width 50%
      max-width 240px
      border-radius 8px
      margin-bottom -5%
      transform translateY(-50%)

      +mq(768)
        margin-bottom 15%
        transform translateY(0)