.image-text__img
  width 90%
  margin-bottom 4em

  +mq(768)
    width 86%
    margin-bottom 0

  img
    border-radius 8px

  .img--small
    position absolute
    top 10%
    right 10px
    width 30%
    max-width 240px


.image-text__content
  +mq(992)
    padding-right 25%

  .img--small
    width 30%
    float right
    max-width 240px
    border-radius 8px

  .title
    clear both

  .text
    margin-bottom 1em
    color #6f6f6f