.image-accordion__media
  margin-bottom 3em

  +mq(768)
    margin-bottom 0

  .wrap-media
    position relative
    border-radius 8px
    overflow hidden

  .wrap-media--vertical
    aspect-ratio 1 / 1.25

  .wrap-media--square
    aspect-ratio 1 / 1

  .wrap-media--landscape
    aspect-ratio 16 / 9

  img
    width 100%
    fullAbs()
    fit()


.image-accordion__content
  &.left
    +mq(768)
      padding-right 4.111%
      padding-left 8.333%
    +mq(992)
      padding-right 8.333%
      padding-left 16.666%

  &.right
    +mq(768)
      padding-right 8.333%
      padding-left 4.111%
    +mq(992)
      padding-right 16.666%
      padding-left 8.333%


  .accordion-item.closed
    .accordion-item__content
      max-height 0 !important
      .accordion-item__loader
        .progress-bar
          width 0 !important
          transition none


  .accordion-item__headline
    display flex
    margin-bottom 2em
    cursor pointer

    .icon,
    .title
      pointer-events none

    .icon
      width 35px
      margin-right 20px
      fill $black


  .accordion-item__loader
    position relative
    width 100%
    height 3px
    margin-bottom 2em
    background-color $gray2

    .progress-bar
      position absolute
      top 0
      left 0
      width 0
      height 100%
      background-color $black
      transition-property width
      transition-timing-function linear


  .accordion-item__content
    max-height 0
    overflow hidden
    transition max-height 0.3s ease-out

    .text
      color #6f6f6f

