.logos
  padding 10px 32px

  +mq(768)
    padding 20px 56px


.logos__text
  margin-bottom 0

  .title
    margin-bottom 4rem


.logos__grid
  display flex
  flex-wrap wrap
  justify-content space-around
  gap 32px

  .single-logo
    display inline-block
    width 200px

    +mq(1200)
      width 250px
