.wrap-collection
  margin-bottom 0
  padding-bottom 16px

  .collection--empty
    text-align center
    padding 7lvh 0 10lvh

    svg
      margin 0 auto 1em
      width 80px
      height @width

      path
        fill $gray2

    .title
      margin-bottom 0.2em

    .text
      color $gray

    .link
      display block
      margin-top 1.777em

  .wrap-product-grid
    .card-product
      margin-bottom 2em
      +mq(768)
        margin-bottom 4em
