.pre-footer
  position relative
  background-color $white2
  margin-bottom 0

  +mq(768)
    padding 56px 0 75px

  .container
    display flex
    align-items flex-end
    flex-wrap wrap
    gap 32px

    +mq(768)
      flex-wrap nowrap


.pre-footer__shape
  position absolute
  top 0
  height 30%
  width 100%
  background-color $white


.pre-footer__img
  position relative
  flex 1 1 100%
  max-width 400px
  margin-bottom 2em
  aspect-ratio 1 / 1.2

  +mq(768)
    flex 0 0 350px
    margin-bottom 0

  img
    border-radius 8px
    fullAbs()
    fit()


.pre-footer__content
  display block
  flex 1 1 100%
  color $black2

  +mq(768)
    flex 0 1 auto

  .title
    flex 1 1 100%

  .text
    +mq(768)
      padding-right 2%
    +mq(1450)
      padding-right 0

  .link
    text-align right

    +mq(768)
      text-align left

