.wrap-product-features--yellow
  background-color $yellow


.wrap-product-features--black
  background-color $black

  .wrap-product-features__headline
    color $yellow

    .title
      color $yellow

  .single-product-feature
    color $white


.wrap-product-features__headline
  text-align center
  margin-bottom 4.5em

  .title
    text-align left


.single-product-feature
  margin-bottom 2em


.single-product-feature__img
  margin 0 auto 22px
