.wrap-projects__slider
  padding 0 20px

  +mq(768)
    padding 0
    padding-left 32px
  +mq(1850)
    padding-left 0

  .project-card__img
    position relative
    aspect-ratio 1 / 0.55

    img
      display block
      margin 0
      fullAbs()
      fit()

  .project-card__text
    background-color $black
    padding 16px 24px
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

    +mq(768)
      padding 24px 32px

    .title
      color $yellow
      padding-right 32px
      width 100%

      +mq(768)
        flex 1 1 50%
      +mq(1108)
        margin-bottom 0

    .ctas
      +mq(768)
        text-align right
        width 340px


  .swiper-button-prev
    left 12px

    +mq(768)
      left 24px

  .swiper-button-next
    right 12px

    +mq(768)
      right 24px

  .swiper-button-disabled
    opacity 0
