.wrap-rotating-feature-groups
  display flex
  flex-wrap wrap
  justify-content space-evenly


.single-feature-group
  flex 1 1 100%
  margin-bottom 32px

  +mq(768)
    margin-bottom 0
    flex 0 0 50%
  +mq(1200)
    flex 0 0 40%

  .single-feature-group__eyebrow
    position relative
    display inline-block
    padding 10px 17px
    color $white
    background-color $black
    font-weight 500
    font-size 24px
    line-height 1.3
    z-index 1

    +mq(768)
      font-size 32px

  .single-feature-group__img
    position relative
    width 50%
    border-radius 50%
    overflow hidden
    aspect-ratio 1 / 1
    transform translateY(-5%)

    img
      fullAbs()


.single-feature-group--right
  flex 1 1 100%

  +mq(768)
    flex 0 0 40%
    transform translateY(20%)
  +mq(1200)
    flex 0 0 30%

  .single-feature-group__img
    position relative
    transform translate(40%, 0)

    +mq(768)
      width 90%
      transform translate(-30%, -12%)