.testimonials-slider
  position relative

  .swiper-button-prev
    left -10px

    +mq(768)
      left -22px

  .swiper-button-next
    right -10px

    +mq(768)
      right -22px

  .swiper-button-disabled
    opacity 0


.single-testimonial
  display flex
  flex-direction column
  background-color $blue
  padding 20px 24px
  aspect-ratio 16 / 9

  +mq(768)
    padding 40px 25px

  .testimonial__stars
    display flex
    margin-bottom auto
    gap 0 8px

    .star
      display inline-block
      padding 5px
      width 30px
      text-align center
      background-color $white
      border-radius 50%
      aspect-ratio 1 / 1

      svg
        width 15px
        fill $black


.single-testimonial--video
  position relative
  padding 0
  padding-bottom 56.25%

  iframe
    fullAbs()
