<div class="template-404 page-width page-margin center">
  <p class="title title--small">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="cta cta--black">
    <span>
      {{ 'general.continue_shopping' | t }}
    </span>
  </a>
</div>
