<script src="{{ 'custom-cart.min.js' | asset_url }}" defer></script>

<div class="wrap-page wrap-page--cart">
  {% comment %} <div v-if="errorMsg" class="cart__error">
    Error
  </div> {% endcomment %}

  <div class="container">
    {% render 'cart-products' %}
  </div>
</div>
