<div class="custom-block wrap-collection-list">
  <div class="container">
    <div class="collection-list__headline">
      <h1 class="title">
        {{ section.settings.title }}
      </h1>
    </div>

    {%- liquid
      case section.settings.sort
        when 'products_high', 'products_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date', 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase

      if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif

      assign moduloResult = 28 | modulo: 5
      assign paginate_by = 30
      if moduloResult == 0
        assign paginate_by = 28
      endif
    -%}

    {%- paginate collections by paginate_by -%}
      <div
        class="collection-list__grid"
        role="list"
      >
        {%- for collection in collections -%}
          {% render 'card-collection', card_collection: collection, show_counter: false %}
        {%- endfor -%}
      </div>
      {% render 'pagination', paginate: paginate %}
    {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    }
  ]
}
{% endschema %}
