{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">

    <span data-predictive-search-live-region-count-value>
      {% liquid
        assign total_results = predictive_search.resources.products.size
        if total_results == 0
          echo 'templates.search.no_results' | t: terms: predictive_search.terms
        else
          echo 'templates.search.results_with_count_and_term' | t: count: total_results, terms: predictive_search.terms
        endif
      %}
    </span>

    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button">
      <a
        href="#"
        class="link"
        tabindex="-1"
        role="option"
        aria-selected="false"
      >
        <span data-predictive-search-search-for-text>
          {{- 'templates.search.search_for' | t: terms: predictive_search.terms -}}
          {% render 'icon-arrow' %}
        </span>
      </a>
    </div>

    {%- if predictive_search.resources.products.size > 0 -%}
      <div class="predictive-search__result-group">
        <div
          id="predictive-search-results-products-list"
          class="predictive-search__results-items"
          role="group"
          aria-labelledby="predictive-search-products"
        >
          {%- for product in predictive_search.resources.products -%}
            {% render 'card-product',
              card_product: product,
              lazy_load: lazy_load,
              section_id: section.id
            %}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div class="predictive-search__loading-state" aria-hidden="true">
      <svg
        aria-hidden="true"
        focusable="false"
        class="spinner"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
{%- endif -%}
