{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  assign single_media_visible = true
  assign media_count = product.media.size

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<div class="custom-block carousel-products">
  <div class="container">
    <div class="swiper js-carousel-products-swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide">
            {{
              media.preview_image
              | image_url: width: 1946
              | image_tag:
                loading: lazy,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
            }}
          </div>
          <div class="swiper-slide">
            {{
              media.preview_image
              | image_url: width: 1946
              | image_tag:
                loading: lazy,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
            }}
          </div>
          <div class="swiper-slide">
            {{
              media.preview_image
              | image_url: width: 1946
              | image_tag:
                loading: lazy,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
            }}
          </div>
          <div class="swiper-slide">
            {{
              media.preview_image
              | image_url: width: 1946
              | image_tag:
                loading: lazy,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
            }}
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-carousel-products-navigation">
        <div class="js-swiper-carousel-products-button-prev swiper-carousel-products-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
            <path d="M14.25 8L1.75 8M1.75 8L7.75 14M1.75 8L7.75 2" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
          </svg>
        </div>
        <div class="js-swiper-carousel-products-pagination swiper-carousel-products-pagination"></div>
        <div class="js-swiper-carousel-products-button-next swiper-carousel-products-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
            <path d="M0.75 8L13.25 8M13.25 8L7.25 14M13.25 8L7.25 2" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
