.wrap-page--cart
  padding-top 150px

  .title--small
    font-weight 300


.cart__headline
  padding-bottom 50px


.cart-labels
  display grid
  grid-template-columns 75px auto 80px
  column-gap 20px
  padding 10px 0
  margin-bottom 32px
  border-bottom 1px solid rgba($black, 0.2)

  +mq(768)
    grid-template-columns 150px auto 100px
    column-gap 32px
  +mq(992)
    grid-template-columns 150px auto 200px 100px

.cart__label
  color $black
  text-transform uppercase
  font-size 14px
  letter-spacing 0.075em
  font(400)

  &.product
    grid-column 1 / 3

  &.qty
    display none

    +mq(992)
      display block
      grid-column 3 / 4

  &.total
    grid-column 3 / 4
    text-align right

    +mq(992)
      grid-column 4 / 5


// Products
.single-cart-product
  display grid
  grid-template-columns 75px auto 80px
  grid-template-rows 1fr 1fr
  column-gap 20px
  row-gap 16px
  align-items center
  margin-bottom 32px

  +mq(768)
    grid-template-columns 150px auto 100px
    column-gap 32px
  +mq(992)
    grid-template-columns 150px auto 200px 100px

.cart-product__img
  position relative
  width 75px
  height @width
  grid-column 1 / 2
  grid-row span 2

  +mq(768)
    width 150px
    height @width

  img
    fullAbs()
    fit()

.cart-product__info
  grid-column 2 / 3
  grid-row 1 / 2

  +mq(992)
    grid-row span 2

  a
    display block
    color $black
    margin-bottom 16px

  span
    color rgba($black, 0.5)


.cart-product__quantity
  display flex
  flex-direction column
  align-items flex-start
  grid-column 2 / 3
  grid-row 2 / 3

  +mq(576)
    align-items center
    flex-direction row
    margin-right 32px
  +mq(992)
    grid-column 3 / 4
    grid-row span 2

  .cart-quantity
    display flex
    justify-content space-between
    align-items center
    flex 0 0 40px
    width 100%
    max-width 150px
    padding 10px
    margin-right 0
    border 1px solid $black
    margin-bottom 16px

    +mq(576)
      width auto
      flex 0 0 120px
      margin-bottom 0
      margin-right 32px

    .add,
    .remove
      display flex
      align-items center
      color $black
      cursor pointer

    svg
      width 16px

  .cart-delete
    svg
      width 22px


.cart-product__total
  grid-column 3 / 4
  grid-row span 2
  text-align right

  +mq(992)
    grid-column 4 / 5



// Cart Footer
.cart__footer
  padding 80px 0
  text-align right
  border-top 1px solid rgba($black, 0.2)

  .cart-totals
    display flex
    justify-content flex-end
    margin-bottom 32px
    border 0

    span
      text-transform uppercase
      font-size 14px
      letter-spacing 0.075em
      font(400)

    p
      margin-left 20px
      font-weight 500

.cart__input
  max-width 750px
  text-align right
  margin-bottom 32px
  margin-left auto

  label
    span
      display block
      font-size 14px
      font-style italic

    &.error
      color tomato

  input
    display block
    height 40px
    width 200px
    margin 20px 0
    margin-left auto

    &.parsley-error
      border 2px solid tomato

  p
    font-size 14px
    font-style italic


.cart__input--checkbox
  display flex
  align-items center
  justify-content flex-end
  position relative

  label
    font-size 16px

    a
      text-decoration underline
      color $black


  input
    position absolute
    right 0
    height 30px
    width 30px
    opacity 0
    cursor pointer

  .input
    display inline-block
    height 30px
    width 30px
    margin-left 20px
    border 1px solid $black
    text-align center
    pointer-events none

    svg
      width 32px
      fill $black
      opacity 0
      position relative
      top -1px
      left -1px

  &.parsley-error
    .input
      border 2px solid tomato

  input:checked
    & + .input
      background-color $yellow

      svg
        opacity 1


// Empty cart
.cart--empty
  text-align center
  margin-bottom 40%
