.wrap-page--cart
  padding-top 80px

  .cart__headline
    padding 0
    margin-bottom 6em

    .title
      font-size clamp(22px, 4vw, 40px)

  .cart__empty
    svg
      width 100px


  .cart__products
    overflow auto
    padding-bottom 0
    border-bottom 1px solid rgba($black, 0.2)

  .cart-labels
  .single-cart-product
    padding 0

  .cart__footer
    position relative
    background none
    padding 24px 0
    border 0

    .cta
      display inline-flex
      width auto
      margin-left auto


.wrap-cart-products
  height 84%


.cart__headline
  padding 0 32px
  color $black


.cart__empty
  color $black
  text-align center

  svg
    margin 0 auto 1em
    width 80px
    height @width

    path
      fill $gray2

  .title
    margin-bottom 1em


.wrap-cart-form
  container cart-container / inline-size
  height 100%

.cart__products
  overflow auto
  padding-bottom 150px


.cart__form
  height 100%
  display flex
  flex-direction column


.cart-form__headline
  padding 0 32px
  margin-bottom 64px

.cart-labels
  display none
  grid-template-columns 75px auto 80px
  column-gap 20px
  padding 10px 32px
  margin-bottom 32px
  border-bottom 1px solid rgba($black, 0.2)


.cart__label
  color $black
  text-transform uppercase
  font-size 14px
  letter-spacing 0.075em
  margin-bottom 10px
  font('headline', 700)

  &.product
    grid-column 1 / 3

  &.qty
    display none

  &.total
    display none
    grid-column 4 / 5
    text-align right


// Products
.single-cart-product
  display grid
  grid-template-columns 100px auto 100px
  grid-template-rows auto auto 40px
  column-gap 20px
  row-gap 0
  align-items center
  margin-bottom 32px
  padding 0 32px


.cart-product__img
  position relative
  width 100px
  aspect-ratio 1 / 1.5
  grid-column 1 / 2
  grid-row span 3
  align-self start

  img
    fullAbs()
    fit()
    border-radius 4px


.cart-product__info
  align-self start
  grid-column 2 / 3
  grid-row 1 / 2
  margin-bottom 16px


.cart-product__name
  display block
  color $black
  font-size 14px
  margin-bottom 0
  font('headline', 700)


.cart-product__price
  color $gray2
  grid-column 2 / 3
  grid-row 3 / 4
  align-self start
  font('headline', 400)

.cart-product__price--desktop
  display none
  grid-column 2 / 3
  grid-row 1 / 2
  align-self center


.cart-product__quantity
  display flex
  flex-direction column
  align-self start
  align-items flex-start
  grid-column 2 / 3
  grid-row 2 / 3

  .cart-quantity
    display flex
    justify-content space-between
    align-items center
    flex 0 0 40px
    width 100%
    max-width 100px
    padding 8px
    margin-right 0
    border-radius 4px
    border 1px solid $black
    margin-bottom 16px

    .add,
    .remove
      display flex
      align-items center
      color $black
      cursor pointer

    svg
      width 16px


.cart-product__delete
  text-align right
  align-self start
  grid-column 3 / 4
  grid-row 1 / 2

  svg
    fill $gray2
    width 22px


.cart-product__total
  align-self start
  grid-column 3 / 4
  grid-row 3
  text-align right
  font-size 20px
  font('headline', 400)



// Cart Footer
.cart__footer
  position absolute
  left 0
  bottom 0
  width 100%
  margin-top auto
  padding 24px
  text-align right
  background-color $white2
  border-top 1px solid rgba($black, 0.2)

  .cart-totals
    display flex
    justify-content flex-end
    align-items center
    margin-bottom 32px
    border 0

    .title--small
      margin-right 32px
      margin-bottom 0
      @extend .cart__label

    p
      text-align right
      font-size 20px
      font('headline', 400)

  .cta
    width 100%


// Empty cart
.cart--empty
  text-align center
  margin-bottom 40%



/**
* Container Queries
*/
// 576px viweport
@container cart-container (min-width: 527px)
  .cart-product__name
    font-size 16px

  .cart-product__quantity
    align-items center
    flex-direction row

    .cart-quantity
      width auto
      flex 0 0 120px
      margin-bottom 0

// 768px viweport
@container cart-container (min-width: 687px)
  .single-cart-product
    padding 0
    grid-template-columns 150px auto 100px
    column-gap 32px

  .cart-product__img
    width 150px


// 992px viweport
@container cart-container (min-width: 911px)
  .cart-labels
    display grid

  .wrap-cart-form
    padding 0

  .cart-labels
    grid-template-columns 150px auto 150px 50px 100px

  .cart__label
    &.qty
      display block
      grid-column 3 / 4
    &.total
      display block
      grid-column 5 / 6

  .single-cart-product
    grid-template-columns 150px auto 150px 50px 100px
    grid-template-rows 1fr 1fr

  .cart-product__img
    align-self center
    grid-row span 2

  .cart-product__info
    align-self center
    grid-row span 2

  .cart-product__price
    display none

  .cart-product__price--desktop
    display block

  .cart-product__quantity
    grid-column 3 / 4
    grid-row span 2
    margin-right 32px
    align-self center
    justify-self end

  .cart-product__delete
    align-self center
    text-align left
    grid-column 4 / 5
    grid-row span 2

  .cart-product__total
    align-self center
    grid-row span 2
    grid-column 5 / 6
