.add-to-cart-bar
  position fixed
  width 100%
  bottom 32px
  z-index 3
  padding 0 16px

.add-to-cart__button
  width 100%
  background-color $yellow
  padding 16px 20px
  border 1px solid $black
  border-radius 3px
  text-transform uppercase
  font-size 18px
  letter-spacing 0.075em
  cursor pointer
  font(400)

  +mq(768)
    padding 20px 32px