.cta
  position absolute
  display flex
  align-items center
  background-color $white
  padding 16px
  border-radius 4px
  transition background 0.2s ease-in
  bottom 16px
  left 16px
  right 16px
  cursor pointer

  +mq(450)
    right auto
  +mq(768)
    bottom 32px
    left 32px

  &:hover
    background-color $black2

    span
      color $gold

    svg
      path
        stroke $gold

  span
    display block
    color $black
    font-size 14px
    text-align center
    text-transform uppercase
    transition color 0.2s ease-in
    font('headline', 500)

    +mq(768)
      font-size 16px

  svg
    display block
    margin-left 10px

    path
      stroke $black
      transition stroke 0.2s ease-in


.link
  display inline-flex
  align-items center
  color $gold
  text-transform uppercase
  cursor pointer
  font('headline', 400)

  &:hover
    svg
      transform translateX(5px)

  svg
    margin-left 10px
    width 14px
    transition transform 0.2s ease-in

    path
      stroke $gold


.link--black
  color $black

  svg
    path
      stroke $black


.link--white
  color $white

  svg
    path
      stroke $white