.cta
  display flex
  align-items center
  justify-content center
  background-color $white
  padding 16px
  border 0
  border-radius 4px
  transition background 0.2s ease-in
  cursor pointer

  &:hover
    background-color $black2

    span
      color $gold

    svg
      path
        stroke $gold

  span
    display block
    color $black
    font-size 14px
    text-transform uppercase
    transition color 0.2s ease-in
    font('headline', 500)

    +mq(768)
      font-size 16px

  svg
    display block
    margin-left 10px

    path
      stroke $black
      transition stroke 0.2s ease-in


.cta--black
  background-color $black
  border 1px solid $black

  span
    color $white

  &:hover
    background-color white


.cta--outline
  border 1px solid $black

  &:hover
    background-color $black

    span
      color $white

    svg
      path
        stroke $white


.link
  display inline-flex
  align-items center
  color $gold
  text-transform uppercase
  cursor pointer
  font-size clamp(14px, 2vw, 16px)
  font('headline', 400)

  &:hover
    svg
      transform translateX(5px)

  svg
    margin-left 10px
    width 14px
    transition transform 0.2s ease-in

    path
      stroke $gold


.link--black
  color $black

  svg
    path
      stroke $black


.link--white
  color $white

  svg
    path
      stroke $white